.sidebar-heading-container {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4299E1;
    width: 160px;
    padding-bottom: 18px;

}